/* Global Style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(-45deg, #6408bc, #23a6d5);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
}

// Nav Bar Section
header h3 {
  transition: all 0.3s ease-in-out;
  &:active {
    color: #6408bc;
    border-radius: 2rem;
    padding: 1rem 2rem;
    background: white;
  }
  &:hover {
    color: #6408bc;
    border-radius: 2rem;
    padding: 1rem 2rem;
    background: white;
  }
}

nav {
  width: 90%;
  margin: auto;
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  .nav-tittle {
    color: white;
    font-size: 2rem;
    flex: 3 1 40rem;
    align-items: center;
    display: flex;
    i {
      font-size: 4rem;
    }
  }
  .nav-side {
    color: white;
    flex: 1 1 40rem;
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
    align-items: center;
    a {
      color: white;
    }
  }
}

// The Form Section

section {
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  .rocket {
    flex: 1 1 80rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .box {
    display: flex;
    flex-direction: column;
    height: 70vh;
    background-color: white;
    border-top-left-radius: 15rem;
    border-bottom-left-radius: 15rem;
    justify-content: space-evenly;
    align-items: center;
    flex: 2.5 1 80rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    .contact {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: start;
        text-align: center;
        color: white;
        background: #ae64f3;
        border-radius: 1rem;

        width: 20%;
        padding: 4rem 2rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        h2 {
          margin-bottom: 1rem;
        }
      }
    }
    i {
      font-size: 6rem;
      color: #6408bc;
      animation: pat 3s ease-in-out infinite alternate;
    }
    h4 {
      font-weight: bold;
      font-size: 4rem;
      color: #6408bc;
    }
    .top-bar {
      display: flex;
      align-self: flex-end;
      text-align: center;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 4rem;
      padding: 2rem 3rem;
      margin: 2rem;

      background: #6408bc;
      color: white;
      transition: all 0.5s ease-in-out;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      &:hover {
        background: #23a6d5;
        #patient {
          color: #23a6d5;
        }
      }
    }
    div {
      align-self: center;
      text-align: center;
    }
    a {
      font-weight: bold;
      text-align: center;
      font-size: 2rem;
      color: white;
      padding: 0rem 2rem;
    }
    #patient {
      transition: all 0.3s ease-in-out;
      padding: 1.3rem 3rem;
      border-radius: 3rem;
      color: #6408bc;
      background: white;
    }
    #doctor {
      &:hover {
        transition: all 0.3s ease-in-out;
        padding: 1.3rem 3rem;
        border-radius: 3rem;
        color: #6408bc;
        background: white;
      }
      &:active {
        padding: 1rem 2.7rem;
      }
    }
    #recep {
      &:hover {
        transition: all 0.3s ease-in-out;
        padding: 1.3rem 3rem;
        border-radius: 3rem;
        color: #6408bc;
        background: white;
      }
      &:active {
        padding: 1rem 2.7rem;
      }
    }
    .form0 {
      display: flex;

      .form1,
      .form2 {
        display: flex;
        flex-direction: column;
        input {
          background: #e8e8e8;
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          color: black;
          margin: 1rem;
          border: none;
          outline: none;
          border-radius: 1.5rem;
          text-align: start;
          padding: 1.5rem 5rem;
          font-size: 2rem;

          &:focus {
            outline: none;
            border-radius: 1.5rem;
            border: #6408bc 2px solid;
          }
        }
      }
    }
    .last-form2 {
      width: 60%;
      display: flex;
      justify-content: space-evenly;
      div {
        text-align: start;
        font-size: 1.8rem;
        margin-bottom: 1rem;
        flex: 1;
        a {
          padding: 0;
          color: #6408bc;
          font-size: 2rem;
        }
      }
      .button {
        font-size: 2.5rem;
        font-weight: bold;
        color: white;
        background: #6408bc;
        padding: 1.5rem 4rem;
        border-radius: 2.5rem;
        outline: none;
        border: none;
        &:active {
          transform: scale(0.9);
          background: #23a6d5;
        }
      }
    }
  }
}
//Footer Section

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 10vh;
  font-size: 2.5rem;
  div {
    width: 90%;
    margin: auto;
    display: flex;
    h5 {
      color: white;
      flex: 1 1 40rem;
    }
    ul {
      color: white;
      display: flex;
      list-style: none;
      flex: 1 1 40rem;
      justify-content: space-between;
      align-items: center;
      i {
        color: white;
      }
    }
  }
}

// Animation

.rock {
  animation: rocket 2s ease-in-out infinite alternate;
}

@keyframes rocket {
  from {
    transform: translateY(20%) scale(1);
  }
  to {
    transform: translateY(-40%) scale(1.3);
  }
}
@keyframes pat {
  from {
    transform: translateY(80%);
  }
  to {
    transform: translateY(-30%);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

//media query

@media screen and (max-width: 1050px) {
  html {
    font-size: 62%;
  }

  body {
    background: linear-gradient(to left, #6408bc, #23a6d5);

    animation: none;
  }
  nav .nav-tittle {
    align-items: center;
  }
  section .box {
    border-radius: 5rem;

    height: 60vh;
    font-size: 80%;
    flex: 1 1 40rem;
  }
  section .rocket {
    margin-bottom: 2rem;
  }
  .rock {
    margin-top: 10rem;
  }
  section .box .last-form2 {
    width: 65%;
  }
  section .box .top-bar {
    display: flex;
    align-self: center;
  }
}
@media screen and (max-width: 655px) {
  html {
    font-size: 32%;
  }

  body {
    background: linear-gradient(left, #6408bc, #23a6d5);

    animation: none;
  }
  nav .nav-tittle {
    justify-content: center;
    align-items: center;
  }
  section .box {
    border-radius: 5rem;

    height: 60vh;
    font-size: 80%;
    flex: 1 1 40rem;
  }
  section .rocket {
    margin-bottom: 2rem;
  }
  .rock {
    margin-top: 10rem;
  }
  section .box .last-form2 {
    width: 75%;
  }
  section .box .top-bar {
    display: flex;
    align-self: center;
  }
}
@media screen and (max-height: 700px) {
  html {
    font-size: 40%;
  }

  body {
    background: linear-gradient(left, #6408bc, #23a6d5);

    animation: none;
  }
  nav .nav-tittle {
    align-items: center;
  }
  section .box {
    border-radius: 5rem;

    height: 60vh;
    font-size: 80%;
    flex: 1 1 40rem;
  }
  section .rocket {
    margin-bottom: 2rem;
  }
  .rock {
    margin-top: 10rem;
  }
  section .box .last-form2 {
    width: 75%;
  }
  section .box .top-bar {
    display: flex;
    align-self: center;
  }
}
