/* Global Style */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(-45deg, #23a6d5, #6408bc, #23a6d5);
  background-size: 400% 400%;
  -webkit-animation: gradient 5s ease infinite;
          animation: gradient 5s ease infinite;
}

body a {
  text-decoration: none;
}

body ul {
  list-style: none;
}

header h3 {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header h3:active {
  color: #6408bc;
  border-radius: 2rem;
  padding: 1rem 2rem;
  background: white;
}

header h3:hover {
  color: #6408bc;
  border-radius: 2rem;
  padding: 1rem 2rem;
  background: white;
}

nav {
  width: 90%;
  margin: auto;
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

nav .nav-tittle {
  color: white;
  font-size: 2rem;
  -webkit-box-flex: 3;
      -ms-flex: 3 1 40rem;
          flex: 3 1 40rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav-tittle i {
  font-size: 4rem;
}

nav .nav-side {
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-side a {
  color: white;
}

section {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

section .rocket {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60rem;
          flex: 1 1 60rem;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

section .side-box {
  position: relative;
  -webkit-box-flex: 3;
      -ms-flex: 3 1 60rem;
          flex: 3 1 60rem;
  background: #edf0f1;
  height: 60vh;
  border-top-left-radius: 8rem;
  border-bottom-left-radius: 8rem;
  overflow: hidden;
}

section .button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
  margin: 2% 2% 2% auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #e8e8e8;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3rem;
  text-align: center;
}

section .button-box .pato {
  color: white;
  background: #6408bc;
}

section .button-box:hover {
  -webkit-box-shadow: 7px 9px 15px #8b5cb8, -7px -9px 15px #ffffff;
          box-shadow: 7px 9px 15px #8b5cb8, -7px -9px 15px #ffffff;
}

section .toggle-button {
  padding: 1.5rem 3rem;
  cursor: pointer;
  background: transparent;
  border: 0;
  border-radius: 2rem;
  outline: none;
  font-size: 1.5rem;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

section #top-txt {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-size: 2.5rem;
  margin: 6rem auto auto auto;
  color: #6408bc;
}

section .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  top: 35%;
  position: absolute;
  width: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section .form-field {
  width: 40%;
  padding: 1rem 0;
  margin: 1rem auto;
  background: #e8e8e8;
  text-align: center;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  outline: none;
  border: none;
}

section .form-field:focus {
  border: 2px solid #7e08ec;
}

section .radio {
  width: 80%;
  margin: auto;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .submit-btn {
  color: white;
  width: 85%;
  padding: 1rem 3rem;
  cursor: pointer;
  display: block;
  margin: 2rem auto;
  background: #6408bc;
  border: 0;
  outline: none;
  border-radius: 3rem;
  border-radius: 44px;
  -webkit-box-shadow: 9px 9px 15px #8b5cb8, -9px -9px 15px #ffffff;
          box-shadow: 9px 9px 15px #8b5cb8, -9px -9px 15px #ffffff;
}

section .submit-btn:focus {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

section #patient {
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

section #doctor {
  left: 150%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

section #register {
  left: 300%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
  font-size: 2.5rem;
}

footer div {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div h5 {
  font-family: "Pattaya", sans-serif;
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

footer div ul {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div ul i {
  color: white;
}

.rock {
  -webkit-animation: rocket 2s ease-in-out infinite alternate;
          animation: rocket 2s ease-in-out infinite alternate;
}

@-webkit-keyframes rocket {
  from {
    -webkit-transform: translateY(20%) scale(1);
            transform: translateY(20%) scale(1);
  }
  to {
    -webkit-transform: translateY(-40%) scale(1.3);
            transform: translateY(-40%) scale(1.3);
  }
}

@keyframes rocket {
  from {
    -webkit-transform: translateY(20%) scale(1);
            transform: translateY(20%) scale(1);
  }
  to {
    -webkit-transform: translateY(-40%) scale(1.3);
            transform: translateY(-40%) scale(1.3);
  }
}

@-webkit-keyframes pat {
  from {
    -webkit-transform: translateY(80%);
            transform: translateY(80%);
  }
  to {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

@keyframes pat {
  from {
    -webkit-transform: translateY(80%);
            transform: translateY(80%);
  }
  to {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 1080px) {
  html {
    font-size: 62%;
  }
  body {
    background: -webkit-gradient(linear, right top, left top, from(#6408bc), to(#23a6d5));
    background: linear-gradient(to left, #6408bc, #23a6d5);
    -webkit-animation: none;
            animation: none;
  }
  nav .nav-tittle {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section .side-box {
    border-radius: 5rem;
    height: 60vh;
    font-size: 80%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
  }
  section .rocket {
    margin-bottom: 2rem;
  }
  .rock {
    margin-top: 10rem;
  }
  section .button-box {
    width: 60%;
    margin: 2% auto;
  }
  section .input-group {
    width: 60%;
  }
}

@media screen and (max-width: 655px) {
  html {
    font-size: 32%;
  }
  body {
    background: -webkit-gradient(linear, left top, right top, from(#6408bc), to(#23a6d5));
    background: linear-gradient(left, #6408bc, #23a6d5);
    -webkit-animation: none;
            animation: none;
  }
  nav .nav-tittle {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section .side-box {
    border-radius: 5rem;
    height: 60vh;
    font-size: 80%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
  }
  section .rocket {
    margin-bottom: 2rem;
  }
  .rock {
    margin-top: 10rem;
  }
  section .button-box {
    width: 60%;
    margin: 2% auto;
  }
  section .input-group {
    width: 75%;
  }
}

@media screen and (max-height: 700px) {
  html {
    font-size: 40%;
  }
  body {
    background: -webkit-gradient(linear, left top, right top, from(#6408bc), to(#23a6d5));
    background: linear-gradient(left, #6408bc, #23a6d5);
    -webkit-animation: none;
            animation: none;
  }
  nav .nav-tittle {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section .side-box {
    border-radius: 5rem;
    height: 60vh;
    font-size: 80%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
  }
  section .rocket {
    margin-bottom: 2rem;
  }
  .rock {
    margin-top: 10rem;
  }
  section .button-box {
    width: 75%;
    margin: 2% auto;
  }
}
/*# sourceMappingURL=style copy.css.map */