/* Global Style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(-45deg, #23a6d5, #6408bc, #23a6d5);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
}

// Nav Bar Section
header h3 {
  transition: all 0.3s ease-in-out;
  &:active {
    color: #6408bc;
    border-radius: 2rem;
    padding: 1rem 2rem;
    background: white;
  }
  &:hover {
    color: #6408bc;
    border-radius: 2rem;
    padding: 1rem 2rem;
    background: white;
  }
}

nav {
  width: 90%;
  margin: auto;
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  .nav-tittle {
    color: white;
    font-size: 2rem;
    flex: 3 1 40rem;
    align-items: center;
    display: flex;
    i {
      font-size: 4rem;
    }
  }
  .nav-side {
    color: white;
    flex: 1 1 40rem;
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
    align-items: center;
    a {
      color: white;
    }
  }
}

// The Form Section

section {
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;

  .rocket {
    flex: 1 1 60rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .side-box {
    position: relative;
    flex: 3 1 60rem;
    background: rgb(237, 240, 241);
    height: 60vh;
    border-top-left-radius: 8rem;
    border-bottom-left-radius: 8rem;
    overflow: hidden;
  }
  .button-box {
    display: flex;
    justify-content: center;
    width: 40%;
    margin: 2% 2% 2% auto;
    align-items: center;
    position: relative;
    background: #e8e8e8;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3rem;
    text-align: center;
    .pato {
      color: white;
      background: #6408bc;
    }
    &:hover {
      box-shadow: 7px 9px 15px #8b5cb8, -7px -9px 15px #ffffff;
    }
  }
  .toggle-button {
    padding: 1.5rem 3rem;
    cursor: pointer;
    background: transparent;
    border: 0;
    border-radius: 2rem;
    outline: none;
    font-size: 1.5rem;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  #top-txt {
    transition: all 0.3s ease-in-out;
    text-align: center;
    font-size: 2.5rem;
    margin: 3rem auto;
    color: #6408bc;
  }
  .input-group {
    display: flex;
    flex-wrap: wrap;
    top: 35%;
    position: absolute;
    width: 50%;
    transition: 0.5s;
  }
  .form-field {
    width: 40%;
    padding: 1rem 0;
    margin: 1rem auto;
    background: #e8e8e8;
    text-align: center;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    outline: none;
    border: none;
  }
  .submit-btn {
    color: white;
    width: 85%;
    padding: 1rem 3rem;
    cursor: pointer;
    display: block;
    margin: 2rem auto;
    background: #6408bc;
    border: 0;
    outline: none;
    border-radius: 3rem;
    border-radius: 44px;
    box-shadow: 9px 9px 15px #8b5cb8, -9px -9px 15px #ffffff;
    &:focus {
      transform: scale(0.98);
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  #patient {
    left: 50%;
    transform: translate(-50%);
  }
  #doctor {
    left: 150%;
    transform: translate(-50%);
  }
  #register {
    left: 300%;
    transform: translate(-50%);
  }
}

//Footer Section

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 10vh;
  font-size: 2.5rem;
  div {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    h5 {
      font-family: "Pattaya", sans-serif;
      color: white;
      flex: 1 1 40rem;
    }
    ul {
      color: white;
      display: flex;
      list-style: none;
      flex: 1 1 40rem;
      justify-content: space-between;
      align-items: center;
      i {
        color: white;
      }
    }
  }
}

// Animation

.rock {
  animation: rocket 2s ease-in-out infinite alternate;
}

@keyframes rocket {
  from {
    transform: translateY(20%) scale(1);
  }
  to {
    transform: translateY(-40%) scale(1.3);
  }
}
@keyframes pat {
  from {
    transform: translateY(80%);
  }
  to {
    transform: translateY(-30%);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

//media query

@media screen and (max-width: 1080px) {
  html {
    font-size: 62%;
  }

  body {
    background: linear-gradient(to left, #6408bc, #23a6d5);

    animation: none;
  }
  nav .nav-tittle {
    align-items: center;
  }
  section .side-box {
    border-radius: 5rem;

    height: 60vh;
    font-size: 80%;
    flex: 1 1 40rem;
  }
  section .rocket {
    margin-bottom: 2rem;
  }
  .rock {
    margin-top: 10rem;
  }

  section .button-box {
    width: 60%;
    margin: 2% auto;
  }
  section .input-group {
    width: 60%;
  }
}
@media screen and (max-width: 655px) {
  html {
    font-size: 32%;
  }

  body {
    background: linear-gradient(left, #6408bc, #23a6d5);

    animation: none;
  }
  nav .nav-tittle {
    justify-content: center;
    align-items: center;
  }
  section .side-box {
    border-radius: 5rem;

    height: 60vh;
    font-size: 80%;
    flex: 1 1 40rem;
  }
  section .rocket {
    margin-bottom: 2rem;
  }
  .rock {
    margin-top: 10rem;
  }
  section .button-box {
    width: 60%;
    margin: 2% auto;
  }

  section .input-group {
    width: 75%;
  }
}
@media screen and (max-height: 700px) {
  html {
    font-size: 40%;
  }

  body {
    background: linear-gradient(left, #6408bc, #23a6d5);

    animation: none;
  }
  nav .nav-tittle {
    align-items: center;
  }
  section .side-box {
    border-radius: 5rem;

    height: 60vh;
    font-size: 80%;
    flex: 1 1 40rem;
  }
  section .rocket {
    margin-bottom: 2rem;
  }
  .rock {
    margin-top: 10rem;
  }
  section .button-box {
    width: 75%;
    margin: 2% auto;
  }
}
